*{
    box-sizing: border-box;
}
.panel{
    position:relative;
    display: flex;
    width:800px;
    height: 400px;
    align-items: center;
    margin:100px 400px;
}
#number{
    position:absolute;
    left:150px;
}
button{
    position: absolute;
    left:150px;
    top:240px;
    height: 40px;
    width:400px;
    color:black;
    cursor: pointer;
    border-radius: 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: large;
    background:transparent;
    margin-top: 30px;
}
span{
    background:#70aaa0;
    position:absolute;
  height: 100%;
  width:0;
    transition: 0.5s;
    left:0;
    top:0;
    z-index: -1;
}
button:hover span{
    width:100%;
}
button:hover{
    border:none;
}

input{
    position:absolute;
    border-radius: 10px;
    width:400px;
    height: 40px;
    text-align: center;
    font-weight: bold;
}
#text{
  position:absolute;
  top:100px;
  left:150px;
  width:400px;
  height: 60px;
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  background-color: #70aaa0;
  border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}